/* Alert */
.invisible {
  display: none;
}

.alert-no-input {
  margin: 1rem 0;
}

/* Card */
.card {
  margin-bottom: 1rem;
}

/* Input Fields */
.input-field {
  margin-bottom: 1rem;
}

/* Tasks List */
.list-tasks {
  list-style: none;
}

/* Link in Task List - Remove Icon */
.icon-remove {
  margin-left: 5rem;
  cursor: pointer;
}